
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      padding: 20px;
    }
    .grid-item {
      background-color: pink;
      text-align: center;
      padding: 30px 0;
      font-size: 20px;
      border: 1px solid #333;
    }
.table {
    width: 100%; 
    border-collapse: collapse;
    font-size: 18px;
}

.table th,
.table td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: center;
}